<div class="container-fluid clsdivContenedorContactanos" id="SeccionContactanosHome">
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"> </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <img class="clsimgContactanosHome" src="../assets/Images/png/tractor.fw.png">
    </div>
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
      <div class="clsdivFormularioContactanos">
        <div class="clsdivFormularioContactanosTop-Izquierda">
          <h2>
            Envia un mensaje
          </h2>
        </div>
        <div class="clsdivFormularioContactanosTop-Derecha">
          <i class="glyphicon glyphicon-user"></i>
        </div>
      </div>
      <div class="clsdivFormularioContactanosBotton">
        <form role="form" action="" method="post" class="">
          <div class="form-group">
            <input type="text" name="inpFormularioContactanos-email" placeholder="Correo electronico:" class="form-control" id="inpFormularioContactanos-email">
          </div>
          <div class="form-group">
            <textarea name="inpFormularioContactanos-mensaje" placeholder="Mensaje:" class="form-control" id="inpFormularioContactanos-Mensaje"></textarea>
          </div>
          <button type="submit" class="btn clsbtnFormularioContactanos-Acceso">
            <span class="glyphicon glyphicon-plus"></span>
            Enviar
          </button>
        </form>
      </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"> </div>
  </div>
</div>
<!-- FIN SECCIÓN -->
