<div id="carruselHome" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active" style="width:100%; height:100vh; background-image:url('../assets/Images/home/slides/mq_slide_1.fw.png'); background-size:100% 100%; background-attachment:fixed; text-align:center"></div>
    <div class="carousel-item" style="width:100%; height:100vh; background-image:url('../assets/Images/home/slides/mq_slide_2.fw.png'); background-size:100% 100%; background-attachment:fixed; text-align:center"></div>
    <div class="carousel-item" style="width:100%; height:100vh; background-image:url('../assets/Images/home/slides/mq_slide_3.fw.png'); background-size:100% 100%; background-attachment:fixed; text-align:center"></div>
    <div class="carousel-item" style="width:100%; height:100vh; background-image:url('../assets/Images/home/slides/mq_slide_4.fw.png'); background-size:100% 100%; background-attachment:fixed; text-align:center"></div>
    <div class="carousel-caption d-md-block d-xs-block d-sm-block d-lg-block">
      <div class="clsdivHome1"></div>
      <h1 class="clsdivHome2">Nairaru [Maquinaria]</h1>
      <header class="clshdrMenuHome">
        <div class="row clsdivMenuHome">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" id="divOpcion1MenuHome">
            <img class="clsimgMenuHome" src="assets/Images/png/contacts-social-network.png" title="Inicio de sesion">
            <a data-scroll class="clspTextoMenuHome" style="cursor:pointer;" href="#SeccionLoginHome">Login</a>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" id="divOpcion2MenuHome">
            <img class="clsimgMenuHome" src="assets/Images/png/landscape-image.png" title="Galeria de imagenes">
            <a data-scroll class="clspTextoMenuHome" style="cursor:pointer;" href="#SeccionGaleriaHome">Galeria</a>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" id="divOpcion3MenuHome">
            <img class="clsimgMenuHome" src="assets/Images/png/i-like-it.png" title="A cerca de nosotros">
            <a data-scroll class="clspTextoMenuHome" style="cursor:pointer;" href="#SeccionNosotrosHome">Nosotros</a>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" id="divOpcion4MenuHome">
            <img class="clsimgMenuHome" src="assets/Images/png/black-envelope.png" title="Contactanos">
            <a data-scroll class="clspTextoMenuHome" style="cursor:pointer;" href="#SeccionContactanosHome">Contactanos</a>
          </div>
        </div>
      </header>
    </div>
  </div>
</div>
