<!-- SECCIÓN 2 -->
<div class="clsdivContenedorGeneralGaleria" id="SeccionGaleriaHome">
  <div class="container" >
    <div class="row">
      <div id="GaleriaHome" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#GaleriaHome" data-slide-to="0" class="active"></li>
          <li data-target="#GaleriaHome" data-slide-to="1"></li>
          <li data-target="#GaleriaHome" data-slide-to="2"></li>
          <li data-target="#GaleriaHome" data-slide-to="3"></li>
          <li data-target="#GaleriaHome" data-slide-to="4"></li>
          <li data-target="#GaleriaHome" data-slide-to="5"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <img src="../../assets/Images/home/galeria/g1.jpg" class="d-block img-fluid" alt="">
            <div class="carousel-caption d-none d-md-block clsdivBloqueDescripcionMaquinariaHome">
              <h3>Pala cargadora frontal</h3>
              <p>Permite arrastrar cantidades de material de lugares específicos, con volúmenes mayores a 100m3.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../assets/Images/home/galeria/g2.jpg" class="d-block img-fluid" alt="">
            <div class="carousel-caption d-none d-md-block clsdivBloqueDescripcionMaquinariaHome">
              <h3>Volqueta</h3>
              <p>Permite transportar material de un lugar a otro.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../assets/Images/home/galeria/g3.jpg" class="d-block img-fluid" alt="">
            <div class="carousel-caption d-none d-md-block clsdivBloqueDescripcionMaquinariaHome">
              <h3>Carro canasta</h3>
              <p>Permite trasportar personal a lugares en sectores altos.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../assets/Images/home/galeria/g4.jpg" class="d-block img-fluid" alt="">
            <div class="carousel-caption d-none d-md-block clsdivBloqueDescripcionMaquinariaHome">
              <h3>Tractor de rodillo</h3>
              <p>permite compactar superficies.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../assets/Images/home/galeria/g5.jpg" class="d-block img-fluid" alt="">
            <div class="carousel-caption d-none d-md-block clsdivBloqueDescripcionMaquinariaHome">
              <h3>Brazo mecánico</h3>
              <p>Permite trasladar material de un punto a otro con volúmenes superiores a 40M3.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../assets/Images/home/galeria/g6.jpg" class="d-block img-fluid" alt="">
            <div class="carousel-caption d-none d-md-block clsdivBloqueDescripcionMaquinariaHome">
              <h3>Retro excavadora</h3>
              <p>Permite arrastras y trasladar material de un lugar a otros con volúmnes inferiores.</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#GaleriaHome" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#GaleriaHome" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Siguiente</span>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- FIN SECCIÓN -->
